.tabela th,
.tabela td {
    padding: 8px;
}

.moda thead {
    background-color: #BB86FC;
    color: #fff;
}

.casa thead {
    background-color: #00C4B4;
    color: #fff;
}

.tabela tbody tr {
    background-color: #424250;
    color: white;
}

.tabela tbody tr {
    background-color: #424250;
    color: white;
}

a {
    color: black;
    text-decoration: none;
    padding: 10px;
}